target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


#Ignorando db.properties
src/main/resources/META-INF/db.properties

#Ignorando backup de modelo de datos
src/main/resources/model_db/model_db_mikrotik_clients.mwb.bak
/target\backup/
